#login {
    padding-top: 120px;
    padding-bottom: 220px;
    background-size: cover;
}

#login p {
    color: rgb(255, 255, 255);
}

#login h1 {
    color: rgb(255, 255, 255);
}

#login .login p {
    color: rgb(0, 0, 0);
}