#products {
    padding: 220px 0;

}

#products h2 {
    padding: 20px 0;
}

#products .cart {
    color: #fff;
    background-color: #6aaf08;
    ;
}

#navigation .cart-amount {
    position: absolute;
    top: 20px;
    left: 720px;
    color: #fff;
}